@mixin flex($direction, $justify, $align,$text){
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin basico($font, $margin){
    font-size: $font;
    margin: $margin;
}

#hero{
    background-image: url(../images/a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(column, center, center, center);
    height: 80vh;
    color: white;
    
    h2{
        color: white;
    }
}

#location{
    @include flex(column, center, center, center);
    height: 70vh;
    color: white;
    padding: 30px 20px;

    h2{
        padding-bottom: 20px;
    }

    p{
        font-size: 20px;
    }
}

#alternativ{
    background-image: url(../images/b.jpg);
    @include flex(column, center, center, center);
    height: 80vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}


#opiniones{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    h3{
        @include basico(20px,30px 20px);
        padding:20px 30px;
        font-size:25px;
        font-weight: bold;
        margin-top: 20px;
        color: white;
    }

    textarea{
        margin:30px;
    }
 
    button{
        @include basico(20px, 2px 30px);
        padding: 10px;
    }
  
}


    