@media (min-width:720px){

    header .container{
      @include flex(row, center, center, center);
    }

    #opiniones{
        background-image:url(images/pexels-karolina-grabowska-4386464\ \(1\).jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #opiniones h3{
        @include flex(column, center, center, center);
        padding: 20px 30px;
        font-size: 25px;
        font-weight: bold;
    }
}
