@mixin flex($direction, $justify, $align,$text){
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin basico($font, $margin){
    font-size: $font;
    margin: $margin;
}

#hero{
    @include flex(column, center, center, center);
    height: 80vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/pexels-mart-production-7088841.jpg);

     h2{
        color: white;
    }
}

#location{
    @include flex(column, center, center, center);
    height: 70vh;
    color: white;
    padding: 30px 20px;

    h2{
        padding-bottom: 20px;
    }

    p{
        font-size: 20px;
    }
}

#alternativ{
    @include flex(column, center, center, center);
    height: 80vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/pexels-antoni-shkraba-5215017.jpg);
    background-position:center center;
}

#opiniones h3{
    @include basico(20px,30px 20px);
    margin-top: 20px;
    color: white;
}
    
#opiniones textarea{
    margin:30px;
}

#opiniones button{
   @include basico(20px, 2px 30px);
   padding: 10px;
}
